# Development dependencies
node_modules/
dist/

# Version control
.git
.gitignore


# IDE specific files
.vscode

# Environment files
.env

# Test files


# Documentation
README.md

# Build tools
package-lock.json
Dockerfile
